@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  height: 100vh;
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgba(167, 203, 223);
  animation: rotarFondo 40s linear infinite;
}

@keyframes rotarFondo {
  0% {
    background-color: rgba(255, 249, 153);
  }

  33.33% {
    background-color: rgba(167, 203, 223);
  }

  66.66% {
    background-color: rgba(255, 249, 153);
  }

  100% {
    background-color: rgba(167, 203, 223);
  }
}


.imagenes {
  display: flex;
  background-image: url('../images/pupurri_pescao.png');
  background-size: 800px;
  /* background-size: cover; */
  width: 100%;
  height: auto !important;
  margin-top: -150px;

}


/* inicio barra superior */
.barraSuperior {
  position: relative;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100% !important;
  height: 10%;
  /* margin-top: 100px; */
  font-family: 'TT Commons Pro Expand', sans-serif !important;
  font-size: 18px !important;
}

.nav-logo {
  display: flex;
  width: 23%;
  height: 50px;
  color: #322203;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  font-family: 'Times New Roman', sans-serif !important;
  font-size: 50px;
}

.nav-logo>img {
  width: 50px;
  height: 50px;
}

.nav-opciones {
  display: flex;
  width: 38%;
  height: 50px;
  color: #322203;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav-opciones ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* margin-left: 100PX; */
  padding: 12px;
}

.nav-opciones .menu {
  margin-left: 50px;
  margin-right: 200px;
}

.nav-opciones ul li a {
  color: #322203;
  text-decoration: none;
}

.nav-opciones ul li a:hover {
  color: #F9D949;
}

.nav-cuenta {
  display: flex;
  width: 38%;
  height: 50px;
  color: #322203;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* font-size: 30px; */

}

.nav-cuenta ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  margin-right: 50px;
  margin-left: 100PX;
}

.nav-cuenta ul li a {
  color: #322203;
  text-decoration: none;
}

.nav-cuenta ul li a:hover {
  color: #F9D949;
}

.nav-cuenta .ayuda {
  margin-right: 200px;
  margin-left: 10px;
}

/* fin barra superior */

/* inicio contenedor */

.imagenes .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4b5459;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px;
  margin-left: 35%;
  margin-top: 265px;
  margin-bottom: 190px;
  background-color: white;
  text-transform: uppercase;
  color: #322203;
  transition: .4s ease-in-out;
  font-family: 'Bebas Neue', sans-serif !important;
}

.imagenes .form:hover {
  transform: scale(1.05);
}

#heading {
  text-align: center;
  width: auto !important;
  height: 50px;
  color: #322203;
  font-size: 1.2em;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 80px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif !important;
}



.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 20vw;
  color: #ececec;
  font-size: 20px;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: white;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif !important;
}

.button1:hover {
  background-color: rgb(5, 230, 91);
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: white;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif !important;
  text-decoration: none;
}

.button2:hover {
  background-color: rgb(0, 200, 214);
  color: white;
}

/* fin contenedor */
.footer {
  background-color: #ebebeb;
  color: #322203;
  text-align: center;
  position: bottom;
  width: 100%;
  height: 96px;
  margin-top: -5vh;
}

/* body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.pagina {
    display: flex;
    flex-direction: column;
    background-color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    height: 100%;
}

.barraSuperior {
  position: relative;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100% !important;
  height: 10%;
  font-family: 'TT Commons Pro Expand', sans-serif !important;
  font-size: 18px !important;
}

.nav-logo {
  display: flex;
  width: 23%;
  height: 50px;
  color: #322203;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  font-family: 'Times New Roman', sans-serif !important;
  font-size: 50px;
}

.nav-logo>img {
  width: 50px;
  height: 50px;
}

.nav-opciones {
  display: flex;
  width: 38%;
  height: 50px;
  color: #322203;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav-opciones ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 12px;
}

.nav-opciones .menu {
  margin-left: 50px;
  margin-right: 200px;
}

.nav-opciones ul li a {
  color: #322203;
  text-decoration: none;
}

.nav-opciones ul li a:hover {
  color: #F9D949;
}

.nav-cuenta {
  display: flex;
  width: 38%;
  height: 50px;
  color: #322203;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav-cuenta ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  margin-right: 50px;
  margin-left: 100PX;
}

.nav-cuenta ul li a {
  color: #322203;
  text-decoration: none;
}

.nav-cuenta ul li a:hover {
  color: #F9D949;
}

.nav-cuenta .ayuda{
  margin-right: 200px;
  margin-left: 10px;
}
.crear {
    margin-left: 10%;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background: linear-gradient(45deg, rgba(233, 0, 255) 0%, rgba(121, 0, 255)) 100%;
    border-radius: 25px;
    transition: .4s ease-in-out;
    font-family: 'Bebas Neue', sans-serif !important;
  }
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    width: auto !important;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-size: 60px;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif !important;
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
    font-size: 20px;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #171717;
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif !important;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #171717;
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif !important;
    text-decoration: none;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 15px;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #171717;
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif !important;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }

  .footer {
    background-color: #171717;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    margin-top: 10%;
} */