body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: cadetblue;
}

#main-container{
    margin: 150px auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
table{
    background-color: #fdf1a4;
    text-align: left;
    border-collapse: collapse;
    width: 100% !important;
    text-align: center;
    margin: 0 !important;


}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    width: 70%;
}

th, td,tr{
    padding: 20;
    text-align: center !important;
}

thead{
    background-color: #ebebeb;
    border-bottom: solid 5px #0f0f0f;
    color: rgb(10, 10, 10);
}
tr:nth-child(even){
    background-color: #ddd;  
}

.barraSuperior {
    position: relative;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100% !important;
    height: 10%;
    font-family: 'TT Commons Pro Expand', sans-serif !important;
    font-size: 18px !important;
}

.nav-logo {
    display: flex;
    width: 23%;
    height: 50px;
    color: #322203;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    font-family: 'Times New Roman', sans-serif !important;
    font-size: 50px;
}

.nav-logo>img {
    width: 50px;
    height: 50px;
}

.nav-opciones {
    display: flex;
    width: 38%;
    height: 50px;
    color: #322203;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav-opciones ul li {
    display: inline;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* margin-left: 100PX; */
    padding: 12px;
    
}

.nav-opciones .inicio {
    margin-left: -50px;
    /* margin-right: 200px; */
}

.nav-opciones .reportes {
    margin-left: 50px;
    /* margin-right: 200px; */
}



.nav-opciones .servicios {
    margin-left: 50px;
    /* margin-right: 200px; */
}

.nav-opciones .ayuda {
    margin-left: 50px;
    /* margin-right: 200px; */
}

.nav-opciones .ayuda :hover {
    transform: scale(1.15);
}

.nav-opciones ul li a {
    color: #322203;
    text-decoration: none;
    transition: .4s ease-in-out;
}

.nav-opciones ul li a:hover {
    color: #F9D949;
    background-color: #000000;
    padding-left: 25px;
    padding-right:25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-weight: 600;
}

.nav-cuenta {
    display: flex;
    width: 38%;
    height: 50px;
    color: #322203;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* font-size: 30px; */
}

.nav-cuenta ul li {
    display: inline;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    margin-right: 50px;
    margin-left: 100PX;
}

.nav-cuenta ul li a {
    color: #322203;
    text-decoration: none;
    transition: .4s ease-in-out;
}

.nav-cuenta ul li a:hover {
    color: #F9D949;
    color: #F9D949;
    background-color: #000000;
    padding-left: 25px;
    padding-right:25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-weight: 600;
}

.nav-cuenta .ayuda {
    margin-right: 200px;
    margin-left: 10px;
}