<!DOCTYPE html>
<html lang="en">
<!-- {% load static%} -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static '/css/admin_main.css' %}"> -->
    <link rel="stylesheet" href="/css/admin_main.css">
    <title>Document</title>
</head>

<body>
    <div class="barraSuperior">
        <div class="nav-opciones">
            <ul class="nav-opc">
                <li class="menu">
                    <a href="#">MENÚ</a>
                </li>
                <li class="servicios">
                    <a href="#">SERVICIOS</a>
                </li>
            </ul>
        </div>
        <div class="nav-logo">
            <label for="titulo">BCS</label>
        </div>
        <div class="nav-cuenta">
            <ul>
                <li class="ayuda">
                    <a href="#">AYUDA</a>
                </li>
                <li class="usuario">
                    <a href="#">USUARIO</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contenedor">
        <h2>MODO ADMINISTRADOR<br>
            <div class="botones">
                <button id="ver-reportes-btn" type="button" onclick="window.location.href='https://www.google.com/'">
                    VER REPORTES
                </button>
            </div>

    </div>
    <div>
        <footer class="footer">
            <!-- <p>&copy; 2023 Mi Empresa. Todos los derechos reservados.</p>
            <p>Contacto: info@miempresa.com</p> -->
        </footer>
    </div>
</body>

</html>