<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '\css\Tabla.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
    <title>REPORTES BASURA</title>
</head>

<body>
    <div class="barraSuperior">
        <div class="nav-opciones">
            <ul class="nav-opc">
                <li class="inicio">
                    <a href="http://127.0.0.1:8000/home/">INICIO</a>
                </li>
                <li class="reportes">
                    <a href="http://127.0.0.1:8000/generar-reporte/">REPORTES</a>
                </li>
                <li class="servicios">
                    <a href="http://127.0.0.1:8000/tipos-incidencia/">TIPOS DE INCIDENCIA</a>
                </li>
                <li class="ayuda">
                    <a href="http://127.0.0.1:8000/ayuda/">AYUDA</a>
                </li>
            </ul>
        </div>
        <div class="nav-logo">
            <label for="titulo">BCS</label>
        </div>
        <div class="nav-cuenta">
            <ul>
                <li class="usuario">
                    <a href="http://127.0.0.1:8000/ver-usuario/">USUARIO</a>
                </li>
                <li class="logout">
                    <a href="/salir">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-container">
        <table id="tabla">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Descripción</th>
                    <th>Ubicación</th>
                    <th>Estatus de de atención</th>
                    <th>Fecha de Reporte</th>
                </tr>
            </thead>
            <tbody>
                {% for i in lista_de_incidencias %}
                <tr>
                    <td class="tipo_problema">{{i.nombre_incidencia}}</td>
                    <td class="descripcion">{{i.descripcion}}</td>
                    <td class="ubicacion">{{i.calle_principal}} /
                        {{i.calle_secundaria}}
                    </td>
                    <td class="status">{{i.estatus}}</td>
                    <td class="fecha">{{i.fecha_de_reporte}}</td>
                </tr>
                {%endfor%}

            </tbody>
        </table>

    </div>

    <script src="{% static '\js\tabla.js'%}"></script>
</body>

</html>